body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-image: url('images/bg3.jpg');
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.5); 
    color: #333;
    margin: 0;
    padding: 0;
}

header {

    background-size: cover;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 60px; /* Adjust the font size for h1 */
    text-align: center;
}

.word {
    color: darkgreen;
    font-family: 'Comic Sans MS', cursive;
}

header p {
    font-size: 30px; /* Adjust the font size for p */
    text-align: center;
}

.description {
    background-size: cover;
    padding: 40px;
    margin: 20px 0;
    color: white;
    text-align: center;
}

.description h2 {
    font-size: 40px; /* Adjust the font size for h1 */
}

.description h3 {
    font-size: 28px; /* Adjust the font size for h1 */
}


.description p {
    font-size: 17px; /* Adjust the font size for p */
}

.team-section h2 {
    text-align: center;
    color: white;
    font-size: 40px;
}

.team-section {
    max-width: 600px; /* Adjust this value based on your design */
    margin: 0 auto; /* Center the container horizontally */
    text-align: center; /* Center the content inside the container */
}

.team-section h3 {
    text-align: center;
    color: white;
    font-size: 30px;
}

.team-section p {
    text-align: center;
    color: white;
    font-size: 17px;
}

.team-section img {
    max-width: 100%; /* Ensure images don't exceed their container */
    height: 100px; /* Maintain aspect ratio */
    border-radius: 50%; /* Optional: Add rounded corners to the images */
    margin: 0px auto; /* Center the image horizontally and add space top/bottom */
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    /*display: none; /* Initially hide the footer */
}


/*Navigation bar*/

.navbar {
  background-color: rgba(128, 128, 128, 0.7); /* Grauer Hintergrund mit Alpha-Wert 0.7 für 70% Deckkraft */
  color: #fff;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Make sure it appears above other content */
  transition: top 0.3s; /* Add smooth transition effect */
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  font-size: 24px;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline;
  margin-right: 20px;
}

.nav-links li:last-child {
  margin-right: 0;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
}


